body {
    font-size: 90%;
    background-color: #d3d3d3;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #808085;
    text-align: center;
    text-transform: uppercase;
}

div.cita01 {
    color: #58706f;
    background-color: #c6fffa;
    border-style: dashed;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

div.cita02 {
    color: #5354d8;
    background-color: #e0edf3;
    border-style: outset;
    border-left-color: #b2b2ff;
    border-right-color: #5354d8;
    border-top-color: #b2b2ff;
    border-bottom-color: #5354d8;
    border-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 50%;
    margin-right: 1%;
}

div.cita03 {
    color: #ab4388;
    background-color: #ff99ff;
    border-style: solid;
    border-color: #ab4388;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-right: 50%;
    margin-left: 1%;
}

div.cita04 {
    color: white;
    background-color: #663366;
    border-style: dotted;
    border-color: #ff3399;
    border-width: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 50%;
    margin-right: 1%;
}

div.cita05 {
    color: #58706f;
    background-color: #c6fffa;
    border-style: dashed;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 25%;
    margin-right: 25%;
}

div.cita06 {
    color: #5354d8;
    background-color: #e0edf3;
    border-style: outset;
    border-left-color: #b2b2ff;
    border-right-color: #5354d8;
    border-top-color: #b2b2ff;
    border-bottom-color: #5354d8;
    border-width: 10px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    margin-left: 50%;
    margin-right: 1%;
}

span {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 80%;
    font-style: oblique;
    text-align: center;
    margin-left: 25%;
}