body {
    background-color:red;
}

h1 {
    font-family: url(../Fuentes/Noto_Sans_Mende_Kikakui/NotoSansMendeKikakui-Regular.ttf);
    font-family: 'Fascinate Inline', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
}

p.parrafo01 {
    font-family: 'Noto Sans Mende Kikakui', sans-serif;
    font-size: 70%;
    padding-left: 250px;
    padding-right: 300px;
    text-align: center;
}

p.parrafo02 {
    font-size: 200%;
    font-family: 'Permanent Marker', cursive;
}

p.parrafo03 {
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;
    font-style: oblique;
}

cite {
    text-decoration: underline
}