body {
    background-color: #eeeeee;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}

h1 {
    font-size: 200%;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    text-transform: capitalize;
    color: red;
    background-color:#888888;
}

em{
    color: blue;
    text-decoration: underline;
    font-weight: bold;
    font-style: normal;
}
strong{
    color: green;
    font-weight: normal;
}
p{
    background-color: #cccccc;
}