@import url('https://fonts.googleapis.com/css2?family=Fascinate+Inline&family=Open+Sans:ital,wght@1,300&family=Permanent+Marker&display=swap');

body {
    background-color: #eca;
}

h1 {
    font-family: 'Fascinate Inline', cursive;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 15px;
}

p.parrafo01 {
    font-size: 70%;
    padding-left: 250px;
    padding-right: 300px;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

p.parrafo02 {
    font-size: 200%;
    font-family: 'Permanent Marker', cursive;
}

p.parrafo03 {
    font-size: 200%;
    font-family: 'Open Sans', sans-serif;
    color: white;
    text-align: right;
    font-style: oblique;
}

cite {
    text-decoration: underline
}